body {
    background-color: #282b30;
    background-size: cover;
    font-family: 'Century Gothic';
    padding: 0;
    margin: 0;
}
header {
    background-color: #282b30;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px black;
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 99;
}
.mainheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    position:relative;
    left: 70px;
    color: white;
}
.search {
    width: 20%;
}
.search form {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #424549;
    border-radius: 10px;
    width: 100%;
    padding-left: 15px;
}
.search form img {
    width: 15px;
    height: 15px;
}
.search form input {
    background: #424549;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    color: white;
    border-radius: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    text-align: center;
    margin: 0 10px;
    padding: 20px;
    transition: .5s;
    color: white;
    text-decoration: none;
    transition: .2s;
    &:hover {
        box-shadow: 0 0 0 1px white;
    }
}
nav a.active {
    box-shadow: 0 0 0 1px white;
    pointer-events: none;
}
nav a.button {
    background-color: #664343;
    border-radius: 25px;
    padding: 10px 50px;
    margin: 0px 30px 0 20px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.people {
    display: flex;
    flex-direction: column;
    background-color: #424549;
    width: 30%;
    padding: 20px;
    height: 87vh;
    overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 0;
}
.people h1, .people h3 {
    color: white;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 3em;
}
.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    &:hover{
        background-color: #363a3f;
        color: white;
    }
}
a.chathead {
    text-decoration: none;
    color: white;
}
.details {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.details p, .details h2 {
    text-decoration: none;
    padding: 0;
    margin: 0 0 0 40px;
}
.details p{
    margin-top: 10px;
}
.details h2{
    margin: 0 0 0 20px;
}
p.message {
    color: gainsboro;
}
p.date {
    margin:0;
    padding: 0;
}
h3.none {
    text-align: center;
    font-size: 2em;
}
.followingProfile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.chatContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #424549;
    border-left: 5px solid #282b30;
    width: 68%;
}
.selectedChatHeader {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 20px;
    align-items: center;
    background-color: #363a3f;
}
.selectedChatHeader img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.selectedChatHeader h1 {
    margin-left: 30px;
}
.sendMessage form{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: end;
}
img.ownerProfile, img.messenger {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.sendMessage form input[type="text"], .sendMessage form input[type="file"] {
    background: #424549;
    padding: 15px;
    width: 60%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    font-size: 1.1em;
    color: white;
    border-radius: 10px;
}
.sendMessage form input[type="file"]{
    width: 21%;
}
.sendMessage form input[type="submit"] {
    background-color: #664343;
    color: white;
    padding: 15px;
    border: none;
    width: 10%;
    border-radius: 15px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}
.sendMessage form p.success{
    background-color: #41ab5d;
    border: 3px solid #005a32;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: -5px;
}
.sendMessage form p.error{
    background-color: #ef3b2c;
    border: 3px solid #a50f15;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: -5px;
}
.messageSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #363a3f;
}
#imageSection {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #363a3f;
    padding: 10px;
    margin: 0 10px 10px 0;
    border-radius: 10px;
}
#imageSection p {
    margin: 10px 0 10px 0;
}
.sendMessage form img#uploadedimage {
    width: 200px;
    height: auto;
    display: none;
    align-self: flex-end;
}
p.imageMessage {
    display: flex;
    flex-direction: column-reverse;
}
img.messageImage {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.leftSide, .rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50%;
    margin: 0;
}
.leftSide {
    margin-left: 20px;
    justify-self: start;
}
.rightSide {
    justify-self: end;
}
.leftSide p{
    margin-left: 10px;
    padding: 10px;
    background-color: #282b30;
    width: 100%;
    color: white;
    border-radius: 15px 15px 15px 0;
}
.rightSide p {
    margin-right: 10px;
    padding: 10px;
    background-color: #282b30;
    width: 100%;
    color: white;
    border-radius: 15px 0 15px 15px;
}
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
}
.none {
    text-align: center;
    color: white;
}
.nothing {
    color: gainsboro;
}
a.deleteComment {
    text-decoration: none;
    color: gainsboro;
    align-self: center;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
    &:hover {
        background-color: maroon;
    }
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 250px auto;
	padding: 20px;
	background: #424549;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.overlay .wrapper h2 {
	margin-top: 0;
	color: white;
}
.overlay .wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
    color: #795757;
}
.overlay .wrapper .close:hover {
	color: #664343;
}
.overlay .wrapper .content {
	max-height: 30%;
	overflow: auto;
}
.overlay .form-container {
	border-radius: 5px;
	background-color: #424549;
	padding: 20px 0;
}
.overlay form label {
    color: white;
}
.overlay input[type=text], .overlay select, .overlay textarea {
    background: #1e2124;
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    font-size: 1em;
    color: white;
    border-radius: 10px;
	resize: vertical;
}
.overlay a.cancel {
    text-decoration: none;
    box-shadow: 0 0 0 1px white;
    color: white;
    padding: 15px;
    margin-left: 10px;
    border: none;
    width: 200px;
    border-radius: 15px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}