body {
    background-color: #282b30;
    background-size: cover;
    font-family: 'Century Gothic';
    padding: 0;
    margin: 0;
}
header {
    background-color: #282b30;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px black;
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 99;
}
.mainheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    position:relative;
    left: 70px;
    color: white;
}
.search {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #424549;
    border-radius: 10px;
    width: 40%;
    padding-left: 15px;
}
.search img {
    width: 15px;
    height: 15px;
}
.search input {
    background: #424549;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    color: white;
    border-radius: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    text-align: center;
    margin: 0 10px;
    padding: 20px;
    transition: .5s;
    color: white;
    text-decoration: none;
    transition: .2s;
    &:hover {
        box-shadow: 0 0 0 1px white;
    }
}
nav a.active {
    box-shadow: 0 0 0 1px white;
    pointer-events: none;
}
nav a.button {
    background-color: #664343;
    border-radius: 25px;
    padding: 10px 50px;
    margin: 0px 30px 0 20px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.people {
    display: flex;
    flex-direction: column;
    background-color: #424549;
    width: 30%;
    padding: 20px;
    height: 87vh;
    overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 0;
}
.people h1, .people h3 {
    color: white;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 3em;
}
.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    &:hover{
        background-color: #363a3f;
        color: white;
    }
}
a.chathead {
    text-decoration: none;
    color: white;
}
.details {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.details p, .details h2 {
    text-decoration: none;
    padding: 0;
    margin: 0 0 0 40px;
}
.details p{
    margin-top: 10px;
}
.details h2{
    margin: 0 0 0 20px;
}
p.message {
    color: gainsboro;
}
p.date {
    margin:0;
    padding: 0;
}
h3.none {
    text-align: center;
    font-size: 2em;
}
.followingProfile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.chatContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #424549;
    border-left: 5px solid #282b30;
    width: 68%;
}
.selectedChatHeader {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 20px;
    align-items: center;
    background-color: #363a3f;
}
.selectedChatHeader img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.selectedChatHeader h1 {
    margin-left: 30px;
}
.sendMessage form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding: 10px;
    align-items: center;
    background-color: #363a3f;
}
img.ownerProfile, img.messenger {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.sendMessage form input {
    background: #424549;
    padding: 15px;
    width: 75%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    font-size: 1.1em;
    color: white;
    border-radius: 10px;
}
.sendMessage form input[type="submit"] {
    background-color: #664343;
    color: white;
    padding: 15px;
    border: none;
    width: 15%;
    border-radius: 15px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}
.leftSide, .rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    margin: 0;
}
.leftSide {
    margin-left: 20px;
}
.rightSide {
    justify-content: end;
}
.leftSide p{
    margin-left: 10px;
    padding: 10px;
    background-color: #282b30;
    max-width: 50%;
    color: white;
    border-radius: 15px 15px 15px 0;
}
.rightSide p {
    margin-right: 10px;
    padding: 10px;
    background-color: #282b30;
    max-width: 50%;
    color: white;
    border-radius: 15px 0 15px 15px;
}
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
}
.none {
    text-align: center;
    color: white;
}
.nothing {
    color: gainsboro;
}