body {
    background-color: #282b30;
    background-size: cover;
    font-family: 'Century Gothic';
    padding: 0;
    margin: 0;
}
header {
    background-color: #282b30;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px black;
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 99;
}
.mainheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    position:relative;
    left: 70px;
}
.logo h1 a {
    text-decoration: none;
    color: white;
}
.search {
    width: 20%;
}
.search form {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #424549;
    border-radius: 10px;
    width: 100%;
    padding-left: 15px;
}
.search form img {
    width: 15px;
    height: 15px;
}
.search form input {
    background: #424549;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    color: white;
    border-radius: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    text-align: center;
    margin: 0 10px;
    padding: 20px;
    transition: .5s;
    color: white;
    text-decoration: none;
    transition: .2s;
    &:hover {
        box-shadow: 0 0 0 1px white;
    }
}
nav a.active {
    box-shadow: 0 0 0 1px white;
    pointer-events: none;
}
nav a.button {
    background-color: #664343;
    border-radius: 25px;
    padding: 10px 50px;
    margin: 0px 30px 0 20px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}

main {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #1e2124;
    color: white;
    width: 35%;
    border-radius: 15px;
    padding: 20px;
}
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #424549;
    margin: 10px 0 10px 0;
    border-radius: 15px;
}
.details, .followStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 30px 10px 30px;
}
.details img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.details a {
    text-decoration: none;
    color: white;
}
.details p a.viewprofile {
    margin-left: 20px;
}
a.followOn, a.followOff {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 0 20px 0 20px;
    transition: .5s;
    &:hover {
        background-color: #664343;
    }
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 250px auto;
	padding: 20px;
	background: #424549;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.overlay .wrapper h2 {
	margin-top: 0;
	color: white;
}
.overlay .wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
    color: #795757;
}
.overlay .wrapper .close:hover {
	color: #664343;
}
.overlay .wrapper .content {
	max-height: 30%;
	overflow: auto;
}
.overlay .form-container {
	border-radius: 5px;
	background-color: #424549;
	padding: 20px 0;
}
.overlay form label {
    color: white;
}
.overlay input[type=text], .overlay select, .overlay textarea {
    background: #1e2124;
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    font-size: 1em;
    color: white;
    border-radius: 10px;
	resize: vertical;
}
.overlay a.cancel {
    text-decoration: none;
    box-shadow: 0 0 0 1px white;
    color: white;
    padding: 15px;
    margin-left: 10px;
    border: none;
    width: 200px;
    border-radius: 15px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}