body {
    background-color: #282b30;
    background-size: cover;
    font-family: 'Century Gothic';
    padding: 0;
    margin: 0;
}
header {
    background-color: #282b30;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px black;
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 99;
}
.mainheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    position:relative;
    left: 70px;
    color: white;
}
.search {
    width: 20%;
}
.search form {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #424549;
    border-radius: 10px;
    width: 100%;
    padding-left: 15px;
}
.search form img {
    width: 15px;
    height: 15px;
}
.search form input {
    background: #424549;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    color: white;
    border-radius: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    text-align: center;
    margin: 0 10px;
    padding: 20px;
    transition: .5s;
    color: white;
    text-decoration: none;
    transition: .2s;
    &:hover {
        box-shadow: 0 0 0 1px white;
    }
}
nav a.button {
    background-color: #664343;
    border-radius: 25px;
    padding: 10px 50px;
    margin: 0px 30px 0 20px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}
.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}
.categories p {
    color: white;
    margin: 0 10px;
    padding: 20px 5px;
}
.categories a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: .4s;
    &:hover{
        color: #664343;
    }
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.categories a.active {
    color: #795757;
    pointer-events: none;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10px;
}
.post {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    margin: 5px;
    height: 500px;
    overflow: hidden;

    position: relative;
}
.viewpost {
    display: block;
    width: 100%;
    height: 100%;
}
.post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post:hover .uploader {
    opacity: 1;
  }
.uploader {
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px 0 20px;
}
.profile p {
    margin: 0 10px 0 10px;
    color: white;
}
.details {
    display: flex;
    flex-direction: column;
}
.postCategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0 10px 10px;
}
.postCategories p {
    background-color: #664343;
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 0 0 10px 10px;
}
.uploader img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 250px auto;
	padding: 20px;
	background: #424549;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.overlay .wrapper h2 {
	margin-top: 0;
	color: white;
}
.overlay .wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
    color: #795757;
}
.overlay .wrapper .close:hover {
	color: #664343;
}
.overlay .wrapper .content {
	max-height: 30%;
	overflow: auto;
}
.overlay .form-container {
	border-radius: 5px;
	background-color: #424549;
	padding: 20px 0;
}
.overlay form label {
    color: white;
}
.overlay input[type=text], .overlay select, .overlay textarea {
    background: #1e2124;
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    font-size: 1em;
    color: white;
    border-radius: 10px;
	resize: vertical;
}
.overlay a.cancel {
    text-decoration: none;
    box-shadow: 0 0 0 1px white;
    color: white;
    padding: 15px;
    margin-left: 10px;
    border: none;
    width: 200px;
    border-radius: 15px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}
a.more {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 20px 0 20px 0;
    width: 60%;
    text-align: center;
    border-radius: 25px;
    transition: .5s ease;
    margin: 5px 0 15px 0;
    &:hover {
        background-color: #795757;
    }
}