body {
    background-color: #282b30;
    background-size: cover;
    font-family: 'Century Gothic';
    padding: 0;
    margin: 0;
}
header {
    background-color: #282b30;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px black;
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 99;
}
.mainheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    position:relative;
    left: 70px;
    color: white;
}
.search {
    width: 20%;
}
.search form {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #424549;
    border-radius: 10px;
    width: 100%;
    padding-left: 15px;
}
.search form img {
    width: 15px;
    height: 15px;
}
.search form input {
    background: #424549;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    color: white;
    border-radius: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    text-align: center;
    margin: 0 10px;
    padding: 20px;
    transition: .5s;
    color: white;
    text-decoration: none;
    transition: .2s;
    &:hover {
        box-shadow: 0 0 0 1px white;
    }
}
nav a.active {
    box-shadow: 0 0 0 1px white;
    pointer-events: none;
}
nav a.button {
    background-color: #664343;
    border-radius: 25px;
    padding: 10px 50px;
    margin: 0px 30px 0 20px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}
.notification-sections {
    display: flex;
    flex-direction: row;
    background-color: #424549;
    width: 100%;
    justify-content: center;
}
.link {
    display: flex;
    width: 34%;
    justify-content: center;
}
.notification-sections a {
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-left: 1px solid #282b30;
    border-right: 1px solid #282b30;
    transition: .5s;
    &:hover{
        background-color: #36393e;
    }
}
.notification-sections a.active {
    background-color: #36393e;
    pointer-events: none;
}
.all-notifications {
    display: flex;
    flex-direction: row;
}
.notification-bar{
    display: flex;
    flex-direction: column;
    width: 34%;
    background-color: #444546;
    border-left: 1px solid #282b30;
    border-right: 1px solid #282b30;
}
a.like-notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
    padding: 10px 0 10px 0;
    text-decoration: none;
    transition: .5s ease;
    &:hover{
        background-color: #36393e;
    }
}
a.like-notification img.notifier-profile {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-left: 50px;
}
.notif-details {
    margin-left: 50px;
}
a.like-notification img.notif-target {
    width: auto;
    height: 100px;
    border-radius: 25px;
    margin-left: 50px;
}
.no-notif {
    color: white;
    text-align: center;
}
@media screen and (max-width: 1800px /*430px*/) {
    a.like-notification img.notifier-profile {
        margin-left: 15px;
    }
    .notif-details {
        margin-left: 15px;
    }
    a.like-notification img.notif-target {
        margin-left: 15px;
    }
    .commentWidth {
        width: 45%;
    }
    h2.notifier-name {
        font-size: 1.2em;
    }
}