body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/login.jpg");
    background-size: cover;
    font-family: "Century Gothic";
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 90%;
    width: 30%;
}
.form h1{
    font-size: 2.5em;
    padding: 0;
    margin: 0 0 10px 0;
    padding: 0;
    color: white;
    text-align: center;
}
.form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 80px;
    width: 100%;
    background-color: #282b30;
    color: white;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}
.form form input {
    background: #424549;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Century Gothic";
    font-size: 1.1em;
    color: white;
    border-radius: 10px;
}
.form form input[type="submit"] {
    background-color: #664343;
    color: white;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 15px;
    transition: .7s;
    &:hover {
        background-color: #795757;
        cursor: pointer;
    }
}
.form form p.success{
    background-color: #41ab5d;
    border: 3px solid #005a32;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: -5px;
}
.form form p.error{
    background-color: #ef3b2c;
    border: 3px solid #a50f15;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: -5px;
}
.return {
    text-align: center;
}
.form a{
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
        color: #a37d7d;
        cursor: pointer;
    }
}
.form label {
    margin-bottom: 10px;
}
.logoCase {
    display: none;
}
@media screen and (max-width: 1800px /*430px*/) {
    .form {
        height: 85%;
        width: 30%;
    }
    .form label, p, a {
        font-size: .7em;
    }
    .form label {
        margin-bottom: 5px;
    }
    .form a b{
        font-size: 1.5em;
    }
    .form h1{
        font-size: 1.5em;
        color: white;
        text-align: center;
    }
    .form form{
        padding: 0px 50px;
    }
    .form form input {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: .7em;
    }
    .form form input[type="submit"] {
        padding: 10px;
    }
    .form form p.result{
        border: 1.5px solid #a37d7d;
        /* padding: 10px 0 10px 0;
        margin-top: -5px; */
    }
    .condition {
        margin: 0 0 15px 0 ;
    }
    hr {
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-color: rgb(245, 222, 161);
        background-image: none;
    }
    body .hide {
        display: none;
    }

    .logoCase {
        display: flex;
        animation: fadeScaleReverse 1s ease forwards;
        justify-content: center; /* Center horizontally */
        align-items: center;    /* Center vertically */
        height: 100vh; 
    }

    .logoCase .logoImage {
        width: 45%;
        height: auto;
        transition: .7s;
        &:hover {
            color: #a37d7d;
            cursor: pointer;
            border-radius: 50%;
            background-color: rgb(34, 27, 19);
        }
    }
    
    @keyframes fadeScaleReverse {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}